.istsat-logo {
  width: 40vw;
  max-width: 225px;
  height: auto;
}

.esa-logo {
  max-height: 80%;
  max-width: 80%;

  &-container {
    background-color: var(--transparent-white);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--alternate-background);
    }
  }
}

.mission-text-container {
  background-color: var(--transparent-white);
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 5%;
}

// s from "sponsor". Dont't rename this class as Ad blockers look
//for these types of keywords to block content.
.s {
  &-grid-container {
    padding-top: 5px;
    padding-bottom: 25px;
  }

  &-container {
    background-color: var(--alternate-background);
    height: 100px;
    width: auto;
    padding: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--alternate-background-darker);
    }
  }

  &-logo {
    max-height: 85px;
    max-width: 80%;
  }
}

#social {
  &-facebook {
    color: var(--facebook);
  }
  &-instagram {
    color: var(--instagram);
  }
  &-twitter {
    color: var(--twitter);
  }
}
