.post-title-background{
  /* Should be half the size of the entire screen */
  height: 50vh;
  width: 100vw;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.post-title-container {
  width: 80vw;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  color: white;
}