.navbar-container {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;

  position: sticky; // The element is positioned based on the user's scroll position.
  top: 0;

  width: 100vw;
  height: 80px;
  margin-top: -80px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  transition: 0.3s ease-in-out;
}

.navbar-logo {
  max-height: 65%;
  cursor: pointer;

  &-container {
    margin-left: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }
}

.navbar-links-regular {
  margin-right: 24px;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links-mobile {
  z-index: 10;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar-icon-active {
  position: fixed;
  top: 30px;
  right: 24px;
  z-index: 10;
}

.navbar-logo-hamburguer {
  width: 40vw;
  height: auto;
  max-width: 300px;
  padding: 25px 0;
}

%text-shared {
  text-decoration: none;
  padding: 0 15px;
  cursor: pointer;
}

.navbar-text {
  @extend %text-shared;
  color: white;

  &-active {
    @extend %text-shared;
    color: var(--primary);
  }
}

%text-shared-hamburguer {
  text-decoration: none;
  font-size: 1.9rem;
  padding: 25px 0;
  cursor: pointer;
}

.navbar-text-hamburguer {
  @extend %text-shared-hamburguer;
  color: white;

  &-active {
    @extend %text-shared-hamburguer;
    color: var(--primary);
  }
}

.navbar-menu-active {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: var(--accent);
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
