/* Website colors */
:root {
  --primary: #29aae2;
  --accent: #001845;
  --text: #020101;
  --text-secondary: #54595f;
  --overlay: #0116277f;
  --alternate-background: #f9f8f8;
  --alternate-background-darker: #f0f0f0;
  --transparent-white: #ffffffc4;

  --instagram: #e3425f;
  --facebook: #365899;
  --twitter: #1da1f2;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Defaults */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;

  font-weight: 400;
  color: var(--text);
  margin: 0; // To remove white border around content.
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 7rem;
  // For xs screens (according to MUI breskpoints)
  @media screen and (max-width: 600px) {
    font-size: 5rem;
  }
  // For sm screens (according to MUI breskpoints)
  @media screen and (max-width: 900px) {
    font-size: 6rem;
  }

  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  // For xs screens (according to MUI breskpoints)
  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
  // For sm screens (according to MUI breskpoints)
  @media screen and (max-width: 900px) {
    font-size: 3rem;
  }
  font-weight: 700;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  // For xs screens (according to MUI breskpoints)
  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
  font-weight: 400;
}

/* Shapes */
.istsat-button {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem; /* Should be the same as body */
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;

  margin: 25px;
  background-color: var(--primary);
  border-radius: 100px;
  padding: 15px 30px;
  border-style: none;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  &-alternate {
    @extend .istsat-button;
    color: var(--text);
    background-color: var(--transparent-white);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--alternate-background);
    }
  }

  &-facebook {
    @extend .istsat-button;
    background-color: var(--facebook);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--facebook);
    }
  }

  &-instagram {
    @extend .istsat-button;
    background-color: var(--instagram);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--instagram);
    }
  }

  &-twitter {
    @extend .istsat-button;
    background-color: var(--twitter);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--twitter);
    }
  }
}

.responsive-circle {
  position: relative;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1;
}

/* Animations */
.animation-bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Background */
.image-background {
  background-color: var(--overlay);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-url should be specified in child object */
}

/* Nav bar */
.navbar {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
}
